
{{>header}}

    <script defer src="/js/app.js"></script>

    <p>Use this site to get your weather!</p>

    <form>
        <input type="text" placeholder="Provide your location" name="">
        <button>Search</button>
    </form>

    <div id="message-area">
    </div>
{{>footer}}
